<!DOCTYPE html>
<html lang="en">

<head>
  <!-- <title>GeoJSON + Flask + MongoDC</title>	-->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>National Parks Overview</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

   <!-- Leaflet CSS -->
   <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin="" />

   <!-- Leaflet JavaScript code -->
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
  integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
  crossorigin=""></script>


  <!-- Load D3 library -->
  <script src="https://d3js.org/d3.v5.min.js"></script>
  
  <!-- Load ScrollReveal library -->
  <!--<script src="https://unpkg.com/scrollreveal"></script>-->

  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>

<body>
  <!-- Container for the National Park info -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>National Park Info</h2>
        <p>Select a National Park:</p>
        <select id="selDataset" onchange="optionChanged(this.value)"></select>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div id="park-info"></div>
      </div>
      <div class="col-md-4">
        <div id="activities-list"></div>
      </div>
      <div class="col-md-4">
        <div id="amenities-list"></div>
      </div>
    </div>
  </div>

  <!-- Interactive map section -->
  <div id="map"></div>
  
  <!-- Load app.js script -->
<script type="text" src="static/js/dashboard.js"></script>
</body>

</html>