<!DOCTYPE html>
<html lang="en">

<head>
  <!-- <title>GeoJSON + Flask + MongoDC</title>	-->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>National Parks Overview</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <!-- Container for the National Park info -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>National Park Info</h2>
        <p>Select a National Park:</p>
        <select id="selDataset" onchange="optionChanged(this.value)"></select>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div id="park-info"></div>
      </div>
      <div class="col-md-4">
        <div id="activities-list"></div>
      </div>
      <div class="col-md-4">
        <div id="amenities-list"></div>
      </div>
    </div>
  </div>

  <!-- Interactive map section -->
  <div id="map"></div>

  <!-- Load Leaflet library -->
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

  <!-- Load app.js script -->
  <script src="app.py"></script>

</body>

</html>
